.name {
    color: white;
    font-family: "Helvetica Neue", sans-serif, Arial;
    font-size: 50px;
    text-align: center;
}

.msg {
    position: relative;
    text-align: center;
    vertical-align: middle;
    color: white;
    font-family: 'Yellowtail', Helvetica, sans-serif, Arial;
}

.text {
    text-align: center;
    color: white;
    /* font-size: 50px; */
    font-family: Helvetica, sans-serif, Arial;
}

.abt-ted {
    justify-content: space-between;
    font-size: medium;
    text-align: justify;
    padding: 0px 20px;
}

.footer {
    /* display: inline; */
    color: var(--ted-red);
    justify-content: space-between;
    font-size: medium;
    text-align: justify;
    padding: 0px 20px;
}

@media only screen and (max-width: 768px) {
    /* For mobile: */
    .msg {
        position: absolute;
        left: 22vw;
        font-size: 50px;
    }
    .logo {
        width: 60%;
    }
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .msg {
        position: absolute;
        left: 40vw;
    }
    .logo {
        width: 30%;
    }
    .msg {
        font-size: 60px;
    }
}